.row-header{
    margin: 20px auto;
}
.row-content{
    margin: 20px 0px 80px;
}
footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 50px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color:#9575cd;
    color: floralwhite;
}
body{
    padding: 50px 0px 0px 0px ;
    z-index: 0;
}
.navbar-dark{
    background-color: #512DA8;
}
.na-bar{
    margin-left: 50px;
}
.icon-space{
    padding: 0px 2px 0px 0px;
}
.table-content{
    margin-bottom: 100px;
}
.head-H3{
    background-color: rgba(231, 216, 13, 0.904);
}
.label-content{
    padding-left: 7px;;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}